body {
    width: 100%;
    height: 100%;
    font-family: 'Lato' ,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #90C5A9;


}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

p {
    font-family: 'Lato', 'sans-serif';
    margin: 0 0 25px;
    font-weight: 200;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: blue;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #7A9A95;
}


div.hr {
background: #fff  no-repeat scroll center;
margin: auto;
width:90em;
margin-bottom: 170px;
height: .2em;
background-color: black;
}

div.hr hr {
display: none;
}




.light {
    font-weight: 200;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Open Sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-brand {
    font-weight: 500;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #f9f9f9;
    text-align: center;
}

.navbar-custom label  {
    color: #000;
    text-align: center;
    font-size: 12px;
    
}

#fg {

    color: #000;
    text-align: center;
    font-size: 12px;
}


.navbar-custom 

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}



#login-nav input {

 margin-bottom: 15px;

}



@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {

    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: #3F2860;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #FA8B60;
}

.intro-text {
    font-family: 'Lato';
    font-weight: 200;
}


@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}


.contact{

    margin-top: 250px;
    margin-bottom: 250px;
}

#contact{
    margin-top: 50px;
    margin-bottom: 100px;

}

#about{
   
    
    padding-top: 250px;
    padding-bottom: 250px;
}

about{
   
    background-image:url('/assets/img/arches.png');
  }


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 15px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}





.Join-section {

    width: 100%;
    padding: 50px;
    color: #000;
    /*background-color: #7A9A95;*/
    background-image:url('/assets/img/grey.png');
    background-repeat:repeat;
   /* -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}

#circle1 {
width: 200px;
height: 200px;
background: #FA8B60;
float: left;
page-break-inside: auto;
}

#circle2 {
width: 200px;
height: 200px;
background: #FA8B60;
page-break-inside: auto;
}

#circle3 {
width: 200px;
height: 200px;
background: #FA8B60;
float: right;
page-break-inside: auto;
}

.circle {
border-radius: 50%;
display: inline-block;
margin-right: 20px;
margin-top: 100px;
}


@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}
    
.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg 
    opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}           

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

    
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }       
}



.btn {
    text-transform: uppercase;
    font-family: Open Sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #EF6D3B;
    color: #3F2860;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #7A9A95;
    outline: 0;
    color: #000;
    background-color: #7A9A95;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

/* Just click to select the code */
 

@font-face {
  font-family: "untitled-font-1";
  src:url("/assets/fonts/untitled-font-1.eot");
  src:url("/assets/fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/untitled-font-1.ttf") format("truetype"),
    url("/assets/fonts/untitled-font-1.svg#untitled-font-1") format("svg"),
    url("/assets/fonts/untitled-font-1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
 
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
 
.icon-banknote:before {
   content: "a"; 
} 
 
.icon-vallet:before {
   content: "b"; 
} 
 
.icon-user-outline:before {
   content: "c"; 
} 
 
.icon-users-outline:before {
   content: "d"; 
} 
 
.icon-user:before {
   content: "e"; 
}

.niceicons{
    font-size: 100px;
    margin-top: 40px;
    color: #EF6D3B;
   
}


.container {
    margin-top: 20px;
}



#footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 280px;
  background: 
  /* color overlay */ 
    linear-gradient(
      rgba(240, 212, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    
}

.well {
    background-color: #f3f3f3;
}

.well legend {

    color: #000;
}